<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/handler.js') }}"></script>
    </head>
    <body>
        <div id='manager_task_div'>
          <form id="task_creation">
            <label>Task Title:</label>
            <input type="textbox" name="task_title"/></br>
            <label>Task Description:</label>
            <input type="textarea" name="task_desc"/></br>
          </form>
        </div>
        <div id='employee_task_div'>
          
        </div>
    </body>
</html>